.circle {
  position: relative;
  width: 200px; /* You can adjust this size as needed */
  height: 300px; /* You can adjust this size as needed */
  /* background-color: #ff69b4; */
}

.section {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 100px;
  height: 100px;
  /* background-color: #ff69b4; */
  transform-origin: 0 0;
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  clip-path: circle(25% at 50% 50%);
  text-align: center;
  line-height: 100px;
}
