@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 221 41% 97%;
		--foreground: 221 5% 10%;
		--card: 221 41% 97%;
		--card-foreground: 221 5% 15%;
		--popover: 221 41% 97%;
		--popover-foreground: 221 95% 10%;
		--primary: 221 79% 50%;
		--primary-foreground: 0 0% 100%;
		--secondary: 221 30% 90%;
		--secondary-foreground: 0 0% 0%;
		--muted: 183 30% 95%;
		--muted-foreground: 221 5% 40%;
		--accent: 183 30% 90%;
		--accent-foreground: 221 5% 15%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 221 5% 97%;
		--border: 221 30% 82%;
		--input: 221 30% 50%;
		--ring: 221 79% 50%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 221 41% 10%;
		--foreground: 221 5% 97%;
		--card: 221 41% 10%;
		--card-foreground: 221 5% 97%;
		--popover: 221 41% 5%;
		--popover-foreground: 221 5% 97%;
		--primary: 221 79% 50%;
		--primary-foreground: 0 0% 100%;
		--secondary: 221 30% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 183 30% 25%;
		--muted-foreground: 221 5% 65%;
		--accent: 183 30% 25%;
		--accent-foreground: 221 5% 95%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 221 5% 97%;
		--border: 221 30% 50%;
		--input: 221 30% 50%;
		--ring: 221 79% 50%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
